$primary-color: #4bcaff;
$secondary-color: #414042;

@import "https://use.typekit.net/wkx8pcg.css";

@font-face {
  font-family: ArialMT;
  src: url("/source/fonts/ArialMT.ttf") format("truetype");
}

/* ------------------ */

/* ------------------ */
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  font-weight: inherit;
  font-size: inherit;
}

h2 {
  font-weight: inherit;
  font-size: inherit;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
}

h4 {
  font-weight: inherit;
  font-size: inherit;
}

h5 {
  font-weight: inherit;
  font-size: inherit;
}

h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.features__container {
  min-height: 580px;
  text-align: center;
}

.gallery__container {
  min-height: 570px;
  text-align: center;
}

.video__container {
  min-height: 550px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  background: url("/source/images/video/background.png");
  background-size: cover;
}

.contact__container {
  min-height: 685px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__container {
  max-width: 665px;
  padding: 0 0 0 27px;
  margin: 0;
}

.header {
  background: url("/source/images/header/01.png");
  background-size: cover;
  min-height: 800px;
  border-bottom: 4px solid $primary-color;
}

.header__logo {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header__top {
  background-color: rgba($color: #070707, $alpha: 30%);
  box-shadow: 0 1px 0 0 rgba($color: #fff, $alpha: 6%);
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 214;
}

.logo__img {
  padding: 1rem 0 0 46px;
  width: 27px;
  height: 11px;
}

.logo__text {
  font-size: 2.25rem;
  font-family: droid-sans;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1.44px;

  &::before {
    content: "ba";
    color: #fff;
  }
}

.menu {
  width: 59%;
  height: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 100%;
}

.menu__item {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: droid-sans;
  font-size: 0.8125rem;
}

.menu__link {
  color: #fff;
    &:hover{
      color: $primary-color;
  }
}

.menu__item-active {
  border-top: 1px solid $primary-color;

  .menu__link {
    color: $primary-color;
    font-weight: bold;
  }
}

.menu__drawer {
  display: none;
  padding: 1rem;
  background-color: $primary-color;
  margin: auto 0;
  border: none;
  border-radius: 0.5rem;
  z-index: 2;
}

#menu__drawer {
  width: 4rem;
  height: 3rem;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu__drawer span {
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 50%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#menu__drawer span:nth-child(1) {
  top: 0.875rem;
}

#menu__drawer span:nth-child(2) {
  top: 1.375rem;
}

#menu__drawer span:nth-child(3) {
  top: 1.875rem;
}

#menu__drawer.open span:nth-child(1) {
  top: 1.375rem;
  transform: rotate(135deg);
}

#menu__drawer.open span:nth-child(2) {
  top: 0px;
  opacity: 0;
}

#menu__drawer.open span:nth-child(3) {
  top: 1.375rem;
  transform: rotate(-135deg);
}

.header__content {
  min-height: 702px;
  padding-top: 100px;
}

.slider__wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 702px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: rgba($color: #fff, $alpha: 80%);
  font-size: 7rem;
  background-color: transparent;
}

.slider__item-text {
  margin-top: 13.125rem;
  margin-bottom: auto;
  max-width: 45rem;
  padding-left: 1.75rem;
  letter-spacing: -0.25px;
}

.item-title {
  font-size: 3rem;
  color: #fff;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 0;

  &::after {
    font-size: 3rem;
    color: #fff;
    font-family: Lato;
    font-weight: 700;
  }
}

.item-subtitle {
  max-width: 43.25rem;
  color: #fff;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  padding-top: 6px;
}

.slider__item-title {
  &::after {
    content: " and Amazing";
  }
}

.slider__item-subtitle {
  text-align: left;
}

.slider__img {
  max-width: 50vw;
  height: auto;
}

.slider__control {
  margin: 0 4.25rem;
  border-radius: 50%;
  background: rgba($color: $primary-color, $alpha: 20%);

  &:focus {
    background: $primary-color;

    svg {
      fill: $secondary-color;
    }
  }

  &:hover {
    background: $primary-color;

    svg {
      fill: $secondary-color;
    }
  }

  &::before {
    color: #fff;
    background-image: none;
  }
}

.slider__item-buttons {
  display: flex;
  padding-top: 2rem;
  max-width: 31rem;

  button {
    margin: 0 2.5rem 0 0.125rem;
    padding: 1.25rem;
    width: 12.25rem;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 0.5rem;
    font-family: Lato;
    font-size: 0.9375rem;
    color: #fff;
    transition: 0.2s;

    &:hover {
      border: none;
      background-color: $primary-color;
      box-shadow: 0 4px 0 #277697;
      border-radius: 0.5rem;
      transition: 0.2s;
    }
  }
}

.slider__downloads {
  display: flex;
  margin: 3rem 0 0;

  h3 {
    font-size: 18px;
    font-family: Lato;
    color: #fff;
    font-weight: 300;
    padding-right: 1.75rem;
  }

  button {
    width: 3.25rem;
    height: 3.25rem;
    background-color: rgba($color: #000, $alpha: 35%);
    border: none;
    border-radius: 50%;
    transition: 0.2s;
    margin: 0 0.5rem;

    svg {
      fill: #fff;
    }

    &:hover {
      background-color: rgba($color: #030303, $alpha: 35%);
      transition: 0.2s;

      svg {
        fill: $primary-color;
        transition: 0.2s;
      }
    }
  }
}

.slider__indicators {
  li {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      background: #fff;
      transition: 0.2s;
    }
  }

  li.active {
    background: $primary-color;
    border: none;
    width: 14px;
    height: 14px;
    transition: 0.2s;
  }
}

.features {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e7e7e7;
}

.content-block__title {
  padding: 3rem 0 0.25rem;
  margin: 0;
  font-size: 2.25rem;
  font-family: Lato;
  font-weight: 800;
  color: $secondary-color;
}

.content-block__subtitle {
  padding: 0 0 4.25rem;
  margin: 0;
  font-size: 1.25rem;
  font-family: Lato;
  font-weight: 300;
  color: $secondary-color;
}

.content-block__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-block__item {
  display: flex;
  align-items: center;
  flex-direction: column;

  .content-block__link-add-screenshot {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 1.5rem;
    height: 1.5rem;
    background: url("/source/images/gallery/add.png");
  }

  .content-block__item-image {
    min-width: 10rem;
    min-height: 10rem;
    border-radius: 50%;
    background: $primary-color;
    display: flex;
    border: 4px solid #efefef;
    transition: 0.5s;

    img {
      margin: auto;
      top: 50%;
      left: 50%;
      max-width: 100%;
    }
  }

  &:hover {
    transition: 0.5s;

    .content-block__item-image {
      background-color: $secondary-color;
    }

    .content-block__item-title {
      color: $primary-color;
    }
  }
}

.content-block__item-title {
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Lato;
  font-weight: 700;
  padding: 30px 0;
  margin: 0;
}

.content-block__item-desc {
  color: #838383;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  max-width: 14rem;
}

.gallery {
  .content-block__subtitle {
    padding: 0.5rem 0 0;
    padding: 0 0 3.25rem;
    margin: 0;
    font-size: 1.25rem;
    font-family: Lato;
    font-weight: 300;
    color: $secondary-color;
  }

  .content-block__item-image {
    border-radius: 1rem;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
    border: none;
    background: $primary-color;

    &:hover {
      background-color: $primary-color;

      .content-block__link-add-screenshot {
        display: block;
      }
    }

    img {
      &:hover {
        opacity: 0.4;
      }
    }
  }

  .content-block__item-title {
    position: absolute;
    bottom: 0;
    background: rgba($color: $secondary-color, $alpha: 65%);
    text-align: center;
    width: 100%;
    color: $primary-color;
    padding: 0.75rem 0;
    border-radius: 0 0 1rem 1rem;
  }

  .content-block__item-desc {
    padding: 0.3rem 0 0;
  }
}

.video {
  background: $primary-color;
}

.video__play-btn {
  margin: 1.7rem auto 0;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
}

.modal-video {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.2s;
  opacity: 0;
  transform: scale(0);
}

.modal-video--open{
  opacity: 1;
  transform: scale(1);
  background: rgba($color: $secondary-color, $alpha: 40%);
}

.modal-video__inner {
  width: 70%;
  height: 60%;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.video__item-title {
  &::after {
    content: "Action";
  }
}

.video__item-subtitle {
  text-align: center;
}

.contact {
  background: url("/source/images/contact/Map.png");
  background-size: cover;
}

.contact__form {
  text-align: center;
  width: 16.5rem;
  height: 26.625rem;
  background: rgba($color: $primary-color, $alpha: 80%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;

  input {
    width: 100%;
    margin: 0 0 0.875rem;
    border: none;
    box-shadow: 0 -1px 0 rgba($color: #000, $alpha: 6%);
    border-radius: 0.25rem;
    height: 2rem;

    &::placeholder {
      text-align: center;
      font-size: 0.875rem;
      color: #d3d3d3;
      font-weight: 400;
      font-family: "ArialMT";
    }
  }
}

.form-title {
  font-size: 2.25rem;
  color: #fff;
  font-family: Lato;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1.5rem;
}

.contact__form-input-message {
  width: 100%;
  margin: 0 0 0.875rem;
  border: none;
  box-shadow: 0 -1px 0 rgba($color: #000, $alpha: 6%);
  border-radius: 0.25rem;
  resize: none;
  height: 9rem;

  &::placeholder {
    text-align: center;
    font-size: 0.875rem;
    color: #d3d3d3;
    font-weight: 400;
    font-family: "ArialMT";
  }
}

.form__submit-btn {
  width: 11.875rem;
  height: 2.875rem;
  box-shadow: 0 4px 0 #313032;
  background-color: $secondary-color;
  border: none;
  border-radius: 0.5rem;
  margin-right: -0.5rem;
  text-shadow: 0 -1px 0 rgba($color: #000, $alpha: 4%);
  color: #72b3cc;
  font-family: Lato;
  font-weight: 700;
  font-size: 0.9rem;
}

.footer {
  height: 6.875rem;
  background: $secondary-color;
  color: rgba($color: #fff, $alpha: 35%);
  font-family: Lato;
  font-size: 0.75rem;
  font-weight: 400;

  a {
    color: rgba($color: #fff, $alpha: 35%);
  }
}

@media screen and (max-width: 992px) {
  .header__top {
    height: 100px;
  }

  .menu {
    width: 100%;
    position: relative;
    right: -100%;
    position: fixed;
    background: rgba($color: $secondary-color, $alpha: 95%);
    transition: .25s ease-in-out;
  }

  .menu--open {
    right: 0;
  }

  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
  }

  .menu__item {
    height: 8%;
    font-size: 2rem;
  }

  .menu__item-active {
    border-top: none;
    border-bottom: 1px solid $primary-color;
    align-items: flex-end;
  }

  .menu__drawer {
    display: block;
  }

  .content-block__container {
    justify-content: space-around;
  }

  .slider__item-title {
    font-size: 2rem;

    &::after {
      font-size: 2rem;
    }
  }

  .slider__img {
    display: none;
  }

  .slider__item {
    max-width: 50%;
    justify-content: center;
  }

  .slider__item-text {
    padding: 0 4rem;
    margin-top: 5rem;
  }

  .slider__control {
    margin: 0 0.25rem;
  }

  .slider__item-buttons {
    flex-direction: column;
    align-items: center;
    max-width: 100%;

    button {
      margin: 0.5rem 0;
    }
  }

  .slider__downloads {
    margin-bottom: 2.5rem;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 0.75rem;
    }
  }

  .slider__item-title {
    text-align: center;
  }

  .slider__item-subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 570px) {
  .content-block__container {
    justify-content: center;
  }
}